/*
** General Utilities
*/

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

/*
** Bootstrap over-rides
*/

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
}
.page-content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
.product-items.productList .product-item .img a {
  position: initial;
}
.product-items.productList .product-item .img {
  border: 1px solid #ececec;
}
.product-items.productList .product-item .product-content {
  text-align: left;
}
@media (max-width: 991px) {
  .product-items.productList .product-item .img {
    padding-right: 0;
    width: 32%;
  }
}
body {
  font-family: "Hind", "Avenir", "Helvetica", arial;
  background: #fff;
  color: #51524e;
  line-height: 1.5;
  font-size: 13px;
}
body:not(".checkout-1") {
  padding-top: 258px;
}
.wrapper {
  margin: 0 auto;
  background: #fff;
  max-width: 1200px;
}
.modal {
  z-index: 10500000000;
}
img {
  max-width: 100%;
}
.primary-bg {
  background: #242424;
  color: #fff;
}
.secondary-bg {
  background: rgba(224, 224, 224, 0.9);
  color: inherit;
}
h1 {
  font-size: 36px;
}

#leftBar {
  background: transparent;
  color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 260px;
  margin-right: auto;
}
@media (min-width: 1200px) {
  #leftBar {
    margin-right: 40px;
  }
}

.titles {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
}

.col-sm-2_4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .col-sm-2_4 {
    float: left;
    width: 20%;
  }
}

.logo2 {
}
.logo2 img {
  margin: auto;
}
@media (min-width: 768px) {
  .logo2 img {
    margin: 0;
  }
}

/* start category */
#category .page_header {
}
.subcategories {
  border-bottom: 0px solid #ececec;
  padding: 0 0 0px;
}
section.subcategories_block {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .subcategories > ul > li {
    width: 100% !important;
    float: none;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }
}
.subcategories > ul > li > a {
  color: #5d5d5d;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.subcategories > ul > li > a:hover img {
}
.subcategories > ul > li span.name,
.subcategories > ul > li span.desc {
  display: block;
  text-align: center;
}
.subcategories > ul > li span.name {
  text-transform: none;
  margin: 10px 0 10px 0;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 700;
}
.subcategories > ul > li .desc {
  text-align: center;
  margin: 0 0 12px 0;
  padding: 0 10px;
}
.subcategories > ul > li span.category-img {
  height: 160px;
  border: 0px solid #dadada;
  padding: 3px;
}
.subcategories > ul > li span.category-img > img {
  max-width: 100%;
  max-height: 100%;
}

#category .product-items {
}
#category .product-items .product-item {
  text-align: center;
}
#category .breadcrumnb,
#category .category-products .titles,
.breadcrumnb {
}
/* end category */

/* start listing */
.sub-section {
}
#listing h1.header-specials {
}
#listing h1.page_headers,
#listing h1.page_heading {
}
.qtyTable-btn {
}

#listing .header > .page_heading {
}
#listing .header > .page_heading:after {
}
#listing .descriptionBlock .header > .page_heading,
#listing .FeaturesBlock .header > .page_heading {
}
.productFeaturesBlock ul {
}
.availabilityInfo {
}
.product_availability {
}
.pricingBlock .yourprice,
.pricingBlock .saleprice {
}
.pricingBlock span {
}
.addToCartBlock .qtybox-addcart label:not(.qty-input) {
}
.addToCartBlock .qtybox-addcart label.qty-input {
}
.main-image {
}

.addl-images {
}
.addl-images ul.slides {
}
.addl-images ul.slides li {
}
.addl-images ul.slides li a {
}
@media (min-width: 768px) {
  .addl-images {
  }
  .addl-images ul.slides li {
  }
}
@media (min-width: 1200px) {
  .addl-images {
  }
  .addl-images ul.slides li {
  }
}

#listing .btn.btn-addcart {
  text-transform: uppercase;
}
#listing .btn.btn-addcart:hover {
}

.opt-label {
}
.opt-label > label {
}

.special-actions {
}
.special-action {
}
.special-action .btn {
}
.special-action .btn i {
}
.product-id {
}
.product-reviews {
}
.product-reviews a {
}
div.qaLink {
}
div.qaLink a {
}
.user_reviews .review-shortDesc {
}
.user_reviews .review-info {
}

.rTabs {
}
.r-tabs .r-tabs-nav .r-tabs-anchor {
}
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
}

.quantityBlock .quantity-table {
  margin: 0 0 15px 0;
}
.likebutton {
  margin-top: 15px;
}

@media only screen and (max-width: 567px) {
  .btn.btn-addcart i {
    display: inline-block;
  }
  .product-item .img .quickview {
    display: none;
  }
}

#listing .short-description,
#listing .product-id,
#listing .extrafieldsBlock {
}
/* end listing */

.wide-container {
  padding: 40px 0 10px 0;
  background: #fff;
}
.container {
  max-width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
  .wide-container {
    padding: 40px 0 10px 0;
    background: #fff;
  }
}

.form-control {
  color: #5d5d5d;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 13px;
  height: 38px;
  padding: 7px 12px;
}
.form-control.search-text {
  border-color: #ececec;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  font-size: 14px;
  border-width: 2px;
  padding: 7px 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px;
}
.btn-xl {
  padding: 20px 45px;
}
.btn-xs {
  padding: 6px 12px;
  font-size: 13px;
  line-height: 20px;
}
.btn-default {
  border-color: #353535;
  background-color: #ffffff;
  color: #353535;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
  border-color: #353535;
  background-color: #ffffff;
  color: #353535;
  opacity: 0.75;
}
.btn-default.btn-inverse,
.btn-primary {
  color: #353535;
  background-color: #fff;
  border-color: #353535;
}
.btn-default.btn-inverse:hover,
.btn-primary:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
  opacity: 1;
}

#categories-outer {
  margin: 0px -30px;
}

#categories-outer .dropdown-menu > li {
  padding: 1px;
  border-top: 1px solid #e9e9e9;
}
#categories-outer .dropdown-menu > li > a {
  padding: 12px 12px;
  font-size: 13px;
  color: #333;
  background: transparent;
  font-weight: 500;
  text-transform: uppercase;
}
#categories-outer .dropdown-menu > li:hover > a {
  color: #000000;
  background: transparent;
}

.dropdown-menu > li:hover > a,
.dropdown-menu > li:focus > a {
}

.breadcrumnb ol li {
  font-size: 12px;
  font-weight: 400;
}
.breadcrumnb ol li > a {
  color: #000;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
}
.breadcrumnb ol li:after {
  content: ">";
  color: #000;
}
/*
** Template code
*/

#checkout-logo .logo {
}
/* sticky header styles */
.sticky-header.shrink .site-header {
  padding: 10px 0;
  background: #fff;
}
.sticky-header.shrink .logo {
  height: 64px;
}
.sticky-header.shrink .site-header .useraccount {
  float: right;
}
@media (min-width: 992px) {
  .sticky-header.shrink .site-header .useraccount .utils span {
    display: none;
  }
}

#sticky-toggle {
  display: none;
}
.sticky-on #sticky-toggle {
  display: block;
}
#sticky-toggle a {
  padding: 0 !important;
}

.sticky-ads {
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 22px;
  color: #333;
  width: 60px;
  line-height: 52px;
}
.sticky-ads:hover {
  color: #000000;
}
.sticky-on .sticky-ads {
  display: block;
}
.sticky-ads.abs-left img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 50px;
  margin: auto;
}
.sticky-ads.abs-right {
  left: auto;
  right: 0;
}
.sticky-ads.abs-right2 {
  /* left: auto; */
  /* right: 60px; */
}

.header-navigation {
  margin-bottom: 20px;
  border-bottom-color: #1a1a1a;
  border-bottom: solid;
}
@media (min-width: 992px) {
  .header-navigation {
    margin-bottom: 40px;
  }
}
body.home-page .header-navigation {
  margin-bottom: 0px;
}

/* navbar */
.navbar form {
  padding-left: 6px;
  padding-right: 6px;
}
.navbar .search button {
  margin-top: 3px;
  margin-bottom: 3px;
  opacity: 0.8;
  width: 100%;
  border-radius: 2px;
}
.navbar-brand {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px;
  height: 43px;
}
.navbar-brand .image {
  height: 100%;
}
.navbar-brand img {
  height: 100%;
}
#menu-links {
  margin: auto;
}
.right-menu {
  margin-left: auto;
}
.nav-link {
  color: #1a1a1a;
  font-size: 0.95rem;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  opacity: 0.8;
}

@media (max-width: 991px) {
}

.custom_mid {
  margin-top: 10px;
}
@media (min-width: 992px) {
  .custom_mid {
    margin-top: 20px;
  }
}
.useraccount {
  margin: 10px 0;
}

.utils {
  margin: 0px 0 0px 15px;
  padding: 0;

  list-style: none;
  text-align: right;
  float: right;
}
.utils li {
  display: inline-block;
  text-align: right;
  line-height: 40px;
  padding: 0 7px;
  font-size: 18px;
  font-weight: 400;
  color: #5d5d5d;
}

.utils a {
}

.utils a:hover {
}
.utils a:hover i {
}
.utils i {
  color: #404242;
  font-size: 28px;
}
.top_links {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 7px 5px;
  margin: 0 5px;
  position: relative;
}
.top_links span {
  /* color: #333; */
  font-size: 18px;
}
.top_links:hover {
  color: #c7c3c3;
  text-decoration: none;
}
.top_links:hover span {
  /* color: #00713A; */
}
.top_links i {
  color: #fff;
  background: #000000;
  position: absolute;
  display: inline-block;
  z-index: 0;
  padding: 0;
  top: -15px;

  left: 15px;
  width: 27px;
  height: 27px;
  line-height: 26px;
  font-size: 14px;
  font-style: normal;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.slogan {
  line-height: 30px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  float: none;
  padding: 10px 0 10px 0;
  text-transform: uppercase;
  text-align: center;
}
.slogan a {
  display: inline-block;
  /* text-decoration: none; */
  color: #333;
  /* text-align: center; */
  /* font-weight: 400; */
  /* font-size: 12px; */
  margin-left: 5px;
}
.slogan a:hover {
  color: #000;
}
@media (min-width: 768px) {
  .slogan a {
    margin-left: 5px;
    /* font-size: 12px; */
  }
}
@media (min-width: 992px) {
  .slogan {
    float: none;
    text-align: right;
  }
}
.slogan .icon-basket {
  position: relative;
}
.slogan i {
  font-size: 13px;
}
.slogan i:not(.icon-menu):before {
}
.vertical-center {
  height: 100%; /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}
.free_ship_text {
  text-align: right;
  text-transform: none;
}
.site-header {
  padding: 0px 0 0px 0;
  background: #fff;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 5px solid #404242;
  border-top: 5px solid #444;
}
@media (min-width: 768px) {
  .site-header {
    padding: 10px 0 10px 0;
    border-bottom: 0px solid #404242;
    border-top: 0px solid #444;
    /* background: #fff; */
  }
}
@media (min-width: 992px) {
  .site-header {
  }
}
.site-header .container {
  position: relative;
}
@media (max-width: 767px) {
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999999;
}

.sticky-on .logo {
  /* height: 100px; */
  /* margin: 15px 0; */
}
.sticky-on .slogan a {
  display: inline-block;
}
.sticky-on .slogan {
  margin: 20px 0 20px 0;
}
.sticky-on .site-header {
  background-color: #fff;
  border-top: 5px solid #000000;
}
.sticky-on .site-header {
  display: block;
}

table.searchlight-results {
  width: 350px !important;
  margin-top: -10px;
}

.minicart {
  min-width: 165px;
  height: 60px;
  float: right;
  padding: 15px 0 15px 10px;
  border-left: 1px solid #ececec;
}
.minicart-inner {
  display: block;
  color: #5d5d5d;
  text-transform: uppercase;
  cursor: pointer;
}
.minicart-inner:hover {
  color: #5d5d5d;
  opacity: 0.8;
}
.minicart .cart-icon {
  display: block;
  width: auto;
  height: 30px;

  line-height: 30px;
  font-size: 30px;
  float: left;
  margin-right: 5px;
}
.minicart .cart-details {
  display: block;
  float: left;
}

span.cart-title {
  font-size: 12px;
  line-height: 15px;
  display: block;
  font-weight: bold;
}
span.cart-count {
  color: #676767;
  font-size: 10px;
  display: block;
  line-height: 15px;
  font-weight: 400;
}

.site-footer {
  border-top: 1px solid #f4f4f4;
  background: #353535;
  padding: 20px 0px 0px;
}
@media (min-width: 768px) {
  .site-footer {
    padding: 40px 0px 20px;
  }
}
.footer-txt {
}
.footer-txt > span {
}
.footer-txt > div,
.footer-txt > p {
}
@media (min-width: 768px) {
  .footer-txt > div,
  .footer-txt > p {
  }
}
.footer-txt > div {
}

ul.extrapages {
  text-align: left;
}
ul.extrapages li.label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 5px;
  color: #333;
  text-transform: uppercase;
}
ul.extrapages li {
  display: block;
  line-height: 1.75em;
  margin: 0 0 8px 0px;
}
ul.extrapages li a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
}
ul.extrapages li a:hover {
  color: #000;
  background: none;
}
ul.extrapages li a i {
  /* font-size: 10px; */
  vertical-align: middle;
  /* color: #cb0826; */
}

.global-footer {
  text-align: center;
}
.copyright {
  border-top: 1px solid #ccc;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: none;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .copyright {
    text-align: left;
  }
}
.copyright_txt {
  padding-top: 6px;
  text-transform: none;
}

.newsletter {
  background: #000000;
  color: #fff;
  padding: 25px;
  text-align: left;
}
.mailist-box {
  width: 100%;
  float: none;
  text-align: left;
  margin-bottom: 15px;
}
.mailist-box form {
  margin: auto;
}
.mailist-box h3 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  text-align: left;
  margin: 0 !important;
  padding: 0 0 10px 0;
}
@media (min-width: 992px) {
  .mailist-box h3 {
    /* text-align: left; */
  }
}
@media (min-width: 1200px) {
  .mailist-box h3 {
    font-size: 14px;
  }
}
.mailinglist-form {
  margin: auto;
  max-width: 400px;
  border: 0px solid #ccc;
}
.mailinglist-input.form-control {
  background-color: #fff;
  border-color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  max-width: 80%;
  height: 40px;
  color: #333;
  float: left;
}
.mailinglist-input.form-control::placeholder {
  color: #3b3b3b;
}
.mailinglist-submit {
  border: 0px solid #91d2c0;
  float: right;
  width: 18%;
  height: 40px;
  font-weight: 400;
  border-color: #464646 !important;
  background-color: #fff !important;
  font-size: 0px;
  color: #464646 !important;
  border-radius: 0;
}
.mailinglist-submit i {
  font-size: 18px;
}
@media (min-width: 768px) {
  .mailinglist-submit {
    font-size: 0px;
  }
  .mailinglist-submit i {
    display: block;
  }
}
.btn-default.mailinglist-submit:hover,
.btn-default.mailinglist-submit:focus {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}
.mailinglist-response {
  display: none;
}
.maillist-options {
  display: block;
  margin: 0px 0 0;
  text-align: center;
  color: #636363;
}
.subscribe {
  float: none;
  display: inline-block;
  margin: 12px 15px 0 0;
  line-height: 13px;
}
@media (min-width: 768px) {
  .maillist-options {
    text-align: left;
  }
  .subscribe {
  }
}
.subscribe input[type="radio"] {
  margin: 0;
  vertical-align: middle;
}
.subscribe label {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 3px;

  color: #fff;
  cursor: pointer;
  text-transform: none;
}

.seals {
  margin-bottom: 20px;
}

ul.payment-icons {
  margin: 0px 0 0 0;
  padding: 0 12px;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  ul.payment-icons {
    text-align: right;
  }
}
ul.payment-icons li {
  font-size: 21px;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 2px;
}
@media (min-width: 992px) {
  ul.payment-icons li {
    font-size: 28px;
  }
}

ul.payment-icons li.payment-icons-label,
ul.social-icons li.social-icons-label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #464646;
  vertical-align: text-bottom;
  text-transform: uppercase;
  padding: 0 0px;
  margin: 0 0 5px;
}

.social-icons {
  width: auto;
  float: none;
  margin: 8px 0 8px 0;
  padding: 0 !important;
  text-align: center;
  color: #fff;
}
.social-icons li {
  margin: 2px 4px !important;
  padding: 0;
}
.social-icons li a {
  color: #fff;
  background-color: transparent;
  /* width: 30px; */
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  border: none;
  padding: 0 !important;
  text-decoration: none;
}
.social-icons li a span {
  /* font-size: 16px; */
}
@media (min-width: 992px) {
  .social-icons {
    margin: 0px 0px 0px 0px;
  }
  .social-icons li {
  }
  .social-icons li a {
  }
}
.social-icons li a:hover {
  opacity: 1;
  border-color: #2a2a2a;
  color: #2a2a2a;
}

.reviews-stars {
  font-size: 18px;
  /* margin: 5px 0 0 0; */
}

.reviews-stars:before {
  font-family: "fontello";
  content: "\e804 \e804 \e804 \e804 \e804";
  color: #373737;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star,
.reviews-stars {
  color: #fff427;
}

/* Product Styling */
#home .product-item {
  display: none;
}
#home .product-item .img {
  height: 366px;
}
#home .product-item img {
  margin: 0;
}
.product-items {
}
.product-items .product-item-container {
  border: 1px solid #d9d9d9;
  padding: 25px;
}
.product-items .product-item {
  text-align: center;
  margin-bottom: 40px;
}
.product-item .name {
  position: relative;
  height: 42px;
}
.product-item .name a {
  text-transform: none;
  color: #464646;
  font-weight: 500;
  font-size: 16px;
}
.product-item del.regular-price {
  text-decoration: line-through;
}
.sale-price {
  color: #f38284;
}
del.original-price {
  font-weight: 400;
}
span.freeshipping {
  /* color: #000; */
  /* font-weight: 600; */
  /* font-size: 16px; */
}
.product-item .status span:before {
  content: "-";
}
.product-item .status {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  display: none;
}
.product-item .desc {
  position: relative;
  font-size: 16px;
  min-height: 22px;
}
.product-item .price {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #464646;
  margin: 10px auto 2px;
}
.product-item .on-sale-badge {
  display: none;
  border-radius: 100%;
  line-height: 34px;
  padding: 12px 0;
  height: 60px;
  width: 60px;
  text-align: center;
  top: -270px;
  right: 5px;
  font-size: 15px;
  background: #cb0826;
  color: #fff;

  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Safari */
  transform: rotate(-10deg);
}
.product-item .img {
  min-height: 190px;
  position: relative;
  border: 0px solid #ececec;
  background-color: #fff;
}
.product-item .img a {
  display: block;
}
.product-item .img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: opacity 0.4s;
  -webkit-backface-visibility: hidden;
  max-height: 100%;
  max-width: 100%;
}

.product-item .action {
  position: relative;
  margin: 10px auto auto;
  display: block;
}
.product-item .action .btn {
  min-width: 150px;
}
.product-item .reviews {
  display: block;
}
.product-item .reviews span.reviews-count {
  display: none;
}
.QTY-nav {
  border: 1px solid #ccc;
  height: 36px;
  display: block;
  width: 115px;
  margin: 4px auto;
}
.QTY-nav button {
  float: left;
  width: 30%;
  background: #404242;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
  height: 100%;
  padding: 5px;
}
.QTY-nav input {
  float: left;
  width: 40%;
  color: #474747;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  height: 100%;
}
.head-mobile-nav {
  margin: 23px auto;
}
.head-mobile-nav > a {
  color: #404242;
  font-size: 18px;
  line-height: 1;
}
.head-mobile-nav > a span {
  font-size: 22px;
}

.page-content {
  padding-top: 0;
}
/*
** Homepage
*/
#home .page_headers {
  font-size: 30px;
  line-height: 1.35;
  margin-bottom: 30px;
}
#home .price span,
del {
  margin-left: auto;
  margin-right: auto;
}
.homepage_content {
  padding: 35px 0;
  background: #e5eaf0;
}
.homepage_text {
  margin-top: 25px;
  text-align: center;
}
.homepage_text h2 {
}
@media (min-width: 768px) {
  .homepage_text {
    margin-top: 75px;
    text-align: left;
  }
  .homepage_text h2,
  #home .page_headers {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .homepage_text {
    margin-top: 80px;
    text-align: left;
  }
  .homepage_text h2,
  #home .page_headers {
    font-size: 52px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .homepage_text {
    margin-top: 150px;
    text-align: left;
  }
  .homepage_text h2,
  #home .page_headers {
    font-size: 52px;
    margin-bottom: 75px;
  }
}

#home.page-content {
  padding: 0;
}
#home .product-items .product-item-container {
  border: none;
  padding: 0;
}

/* homeCarousel */
.homeCarousel.flexslider {
  margin-bottom: 0px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.flex-direction-nav {
  display: none;
}
@media (min-width: 768px) {
  .homeCarousel.flexslider {
    position: relative;
  }
}
#carousel-sellers {
  width: 94%;
  margin: 0 3%;
}
.products-section {
  background-color: transparent;
  padding: 0px 0 0px 0;
  margin: 25px auto 20px auto;
}

.products-section h2 {
  font-family: "Old Standard TT", serif;
  display: block;
  background: #eee;
  text-align: center;
  color: #353535;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 10px;
  margin: 0 0 30px;
  position: relative;
}
.products-section h2 span {
}
.products-section h2 span:after {
  content: "";
  display: none;
  background: none;
  height: 0px;
  width: 75%;
  margin: auto;
}
@media (max-width: 991px) {
  .products-section h2 {
  }
}
.home-page-content .category-footer {
  padding: 0px 0 0px;
}
.home-page-content .category-footer h3 {
}
.home-page-content .category-footer p {
  font-size: 16px;
  margin: 0 0 20px;
  /* text-align: justify; */
  font-weight: 400;
}
.home-page-content .category-footer a:hover img {
  opacity: 0.7;
}
.home-page-content .category-header {
  margin: 25px 0;
  text-align: center;
}
.home-page-content .category-header h3 {
  text-align: center;
  color: #404242;
  font-size: 32px;
  line-height: 1.35;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 10px;
  position: relative;
  border: none;
}
.home-page-content .category-header h3 span {
}
.home-page-content .category-header p {
  font-size: 16px;
  font-weight: 400;
}
.home-page-content .category-header img {
  margin: 0 auto;
}

.promo-banners {
  margin: 20px auto 20px auto;
  text-align: center;
}

.promo-banners .col {
}

.promo-img {
  display: block;
  text-align: center;
  text-decoration: none !important;
  margin-bottom: 25px;
}
.promo-img img {
  margin: auto auto 0px auto;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.promo-img:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.promo-img .btn {
  width: 100%;
  padding: 25px;
  font-size: 21px;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 767px) {
  .promo-banners .row {
    /* margin: auto; */
  }
  .promo-img img {
    /* max-width: 320px; */
    width: 100%;
    margin-bottom: 0px;
    height: auto !important;
  }
}

.homeCarousel.flexslider .slides img {
  width: 100%;
}

.flexslider .slides img {
  margin: auto;
}

.product-items .product-item.slick-slide {
  float: left !important;
}

#hp-slides > li {
  background-position: 50% center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
}
.hp-slider-text-outer {
  display: table;
  height: 450px;
  margin: auto;
}
@media (min-width: 992px) {
  .hp-slider-text-outer {
    height: 610px;
  }
}
.hp-slider-text {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  padding-top: 165px;
}
.hp-slider-text h3 {
  font-size: 60px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
}
.hp-slider-text h3 > span {
  color: #b61319;
  display: block;
  font-weight: 300;
  line-height: 1.25;
  font-size: 38px;
  font-family: "Hind", "Avenir", "Helvetica", arial;
  text-shadow: none;
  padding: 15px 0 0 0;
}
.hp-slider-text h3 > small {
  color: #000;
  display: block;
  font-weight: 500;
  font-size: 32px;
}
@media (min-width: 768px) {
  .hp-slider-text h3 {
    font-family: "Old Standard TT", serif;
    font-size: 80px;
    margin: 0;
    font-weight: 700;
    text-transform: none;
    line-height: 1;
    letter-spacing: -0.5px;
  }
  .hp-slider-text h3 > span {
    color: #b61319;
    display: block;
    font-weight: 300;
    font-size: 60px;
    font-family: "Hind", "Avenir", "Helvetica", arial;
    text-shadow: none;
  }
  .hp-slider-text h3 > small {
    color: #000;
    display: block;
    font-weight: 500;
    font-size: 32px;
  }
}

.hp-slider-text p {
  font-family: "Old Standard TT", serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px auto;
  line-height: 80px;
  letter-spacing: -0.5px;
}
.hp-slider-img {
  height: 650px;
  position: relative;
}
.hp-slider-img img {
  max-height: 650px;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.hp-slider-cta a {
  min-width: 200px;
  background: transparent;
  border: 2px solid #fff;
  padding: 12px;
  color: #fff;
  font-size: 16px;
}
/* end home */

.extrapages-shower a {
  display: block;
  text-align: center;
  background-color: #fff;
  color: #5e5444;
  border: 1px solid #5e5444;

  padding: 10px 18px;
  text-decoration: none !important;
  margin-bottom: 5px;
}
.extrapages-shower a:after {
  content: "\f106";
  font-family: "fontello";
  float: right;
}
.extrapages-shower a.collapsed:after {
  content: "\f107";
}
@media (max-width: 991px) {
  .mailist-box {
    float: none;
    width: 100%;
    max-width: 100%;
  }
  .footer-social {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .logo {
    text-align: center;
    height: 90px;
  }
  .logo img {
    position: absolute;
    right: 0;
    left: 0;
    max-height: 98%;
  }
  .products-section h2,
  .home-page-content .category-header h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .products-section h2 span,
  .home-page-content .category-header h3 span {
  }

  .search-form-col {
    clear: both;
  }
  .flex-direction-nav a:before {
    font-size: 24px;
  }
  .flex-direction-nav a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: -12px 0 0;
  }
  .mailinglist-input.form-control {
  }
  .social-icons {
    margin: 25px auto 15px auto;

    text-align: center;
    width: 100%;
  }
  .social-icons li a {
    /* width: 32px; */
    /* height: 32px; */
    /* line-height: 50px; */
    font-size: 16px;
  }
  .footer-social ul li {
    padding: 0 4px;
  }
  .extrapages {
    display: none;
  }
  .home-page-content .category-header {
    padding: 15px 0;
  }
  .mailist-box {
    margin: 0px auto;
    padding: 0px 0px;
  }
  .extrapages-shower a {
    display: block;
  }
  ul.extrapages {
    margin: 0;
    padding: 5px 0 15px 0;
    text-align: center;
  }
  ul.extrapages li {
    display: block;
  }
  ul.extrapages li a {
    font-size: 14px;
  }
}
@media (max-width: 567px) {
  .product-items.product-items-1 .product-item,
  .product-items.product-items-2 .product-item,
  .product-items.product-items-3 .product-item,
  .product-items.product-items-4 .product-item,
  .product-items.product-items-5 .product-item,
  .product-items.product-items-6 .product-item {
    max-width: 270px;
  }
}

.menu-open {
  overflow: hidden;
}

.mailinglist-response {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 12px;
  background-color: #2d2d2d;
  color: #ccc;
}
.mailinglist-error span {
  color: #8a6d3b;
}
.mailinglist-subscribed span,
.mailinglist-unsubscribed span {
  color: #3c763d;
}
.mailinglist-response,
.mailinglist-response div {
}
@media (min-width: 768px) {
  .floating-cart {
    top: 50%;
  }
}
.floating-cart {
  position: fixed;
  top: 75%;
  right: 0;
  z-index: 999;
  background-color: #5b5b5d;
  color: #fff;
  border-radius: 20px 0 0 20px;
  padding: 15px;
  text-align: center;
  width: 90px;
  display: none;
}

.floating-cart a,
.floating-cart a:hover {
  color: #fff;
  text-decoration: none;
}
.floating-cart span.cart-icon {
  display: block;
  font-size: 30px;
  line-height: 1;
}
.floating-cart span.cart-details {
  font-size: 12px;
  text-transform: none;
  display: block;
  margin: 5px 0 0;
}

.paging {
  float: right;
}
.paging strong,
.paging a {
  color: #6f6f6f;
}
.paging strong,
.paging a:hover {
  color: #6f6f6f;
  background-color: #e5e5e5;
  text-decoration: none;
}

/*
Common page styles */
.page_header {
  margin: 0 0 30px;
}
.page_heading,
.page_headers {
  /* font-family: 'Open Sans', sans-serif; */
  margin: 0 0 30px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: none;
  border-bottom: 0px solid #e5e5e5;
  position: relative;
  color: inherit;
}
.page_heading:after {
  border-bottom: 1px solid #404242;
  display: none;
}
.page_heading span,
.page_headers span {
}
.header-specials {
  display: block;
  text-align: left;
  color: #2b2b2b;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.35;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 35px;
  position: relative;
  border: none;
}
.header-specials:before {
}
.header-specials span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0px 0 0px;
  background: transparent;
}
.category-header {
  margin: 20px 0;
}

.fullwidth-slider img {
  width: 100%;
}

.scrollToTop {
  position: fixed;
  bottom: 0%;
  right: 5px;
  display: none;
  z-index: 999;
  text-align: center;
  color: #fff !important;
  background-color: rgba(60, 58, 58, 0.95);
  border-radius: 20px 20px 0 0;
  width: 70px;
  display: none;
  font-size: 36px;
}
.scrollToTop:hover {
  text-decoration: none;
  background-color: #333;
  -webkit-transition: opacity 1000ms ease-in-out;
  -moz-transition: opacity 1000ms ease-in-out;
  -o-transition: opacity 1000ms ease-in-out;
  -ms-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}
.scrollToTop span {
  display: none;
}

iframe {
  display: block;
}

/* sidebar */
.sidebar-widget {
  background: transparent;
  /* border-bottom: 3px solid #fff; */
  padding: 0 10px;
  margin-bottom: 20px;
}
.sidebar-widget ul {
  margin: 0px 0;
  padding: 0;
  list-style: none;
  float: none;
  text-align: left;
}
.sidebar-widget ul li {
  float: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  padding: 0 0 0 0px;
  border: none;
}
.sidebar-widget ul li:hover > a {
}
.sidebar-widget ul#categories > li:hover > a:after {
  content: "\f105";
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.sidebar-widget ul li a {
  /* padding: 5px 5px; */
  color: #000;
}
.sidebar-widget ul li:hover > a {
  color: #404242;
}

.sidebar-widget .dropdown-menu {
  position: absolute;
  top: 0;
  left: calc(100% - 10px);
  background: #fff;
}
@media (max-width: 991px) {
  .sidebar-widget .dropdown-menu {
    display: none !important;
  }
}
.sidebar-widget .product-item .img {
  min-height: 80px;
}

.widget-header {
  background: #000000;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  border: none;
  padding: 12px 10px;
  margin: 0 -10px;
}
.widget-header:after {
  display: none;
}
.widget-body {
  padding: 10px 0px;
}
.widget-body .product-item {
  border-bottom: 0px solid #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: left;
}
#modTopSellers .widget-body .product-item {
  text-align: center;
}
.widget-body .product-item .name {
  height: auto !important;
  margin-bottom: 5px;
}
.widget-body .product-item .name a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.widget-body .product-item .price {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin: 5px auto;
}
.widget-body ul.list-unstyled {
  margin-top: -10px;
  text-align: left;
}
.widget-body ul a {
  color: #000;
}
.sidebar-widget .topsellers-item:not(:last-child),
.sidebar-widget .new-release-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

/*quickview */
body#quickView
  aside
  div
  form#add
  div
  div
  div#main-image
  a#listing_main_image_link
  > .mz-figure,
body#quickView
  aside
  div
  form#add
  div
  div
  div#main-image
  a#listing_main_image_link
  > .mz-figure
  > img {
  max-width: 100% !important;
}
/***********/

/*viewcart */
.cart-items > li > span.item-name span.item-thumb img {
  max-height: 100%;
  margin: auto;
}
body.view-cart span.item-action .view-options {
  display: none;
}

body.view-cart span.itemoptions {
  display: block !important;
}
/***********/
.chkShoppingCart .product-image {
  text-align: center;
}

.qv .qty .qty-input {
  height: 42px;
}
.qv .addcart {
  margin: 0 0 0 10px;
}

/**** Hide Left ****/
body.view-cart #leftBar,
body.my-account #leftBar {
  display: none;
}
body.view-cart .middle-grid,
body.my-account .middle-grid {
  width: 100%;
}

/****************/

/****   404  ****/
/****************/

/****************/
/***End of 404***/
/****************/

/*****************/
/***  Contact  ***/
/*****************/

/*****************/
/***Contact End***/
/*****************/

/********************/

/***ThankYou Start***/
/********************/
/********************/
/***ThankYou End*****/
/********************/

/*flyout cart */

/***********/

.stuck {
  top: 0;
  position: fixed;
  left: 0;

  right: 0;
  margin: 0 auto;
  z-index: 99;
  transition: background-color 0.3s, opacity 0.3s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.45);
}
.stuck.stuck2 {
  z-index: 98;
}
.sticky-jump .stuck {
  -webkit-animation: stuckMoveDown 0.6s;
  animation: stuckMoveDown 0.6s;
}
.sticky-fade .stuck {
  -webkit-animation: stuckFadeIn 0.6s;
  animation: stuckFadeIn 0.6s;
}
.sticky-shrink .stuck .header-main {
  transition: height 0.8s;
}
@-webkit-keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes stuckMoveDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes stuckFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stuckFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
